.cart-dropdown {
    position: absolute;
    width: 240px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 44px;
    right: 10px;
    z-index: 5;
    outline: none;

    .empty-message {
      justify-content:center;
      display:flex;
      bottom: -80px;
      position: relative;
      
    }
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-flow: column;
      overflow: scroll;
     
      &:first-child {
        position:sticky;
        bottom:0;
      }
     
    }
  
    button {
      margin-top: auto; // button always at bopttom
    }
  }
    