.product-items {
         width: 100%;
            display: flex;
           
            flex-direction: column;

        .product-item {
            display: flex;
           flex-direction: row;
          
         
       
           
   
        }

    .filter-container{
        
    
        margin-top: 20px;
        width: 80px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        color: rgb(10, 10, 10);
        top: 60px;
        right: 40px;
        font-family: 'Open Sans Condensed';
        font-size: 20px;
        position: -webkit-sticky;
        position: sticky;
    
    
       
    }
    .filter-item {
        border-bottom: 1px solid black;
    }   cursor: pointer;
}


